<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mattimoestechshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MattimoesTechShop">
        <activity android:name=".Customer.CustomerCheckoutCash"></activity>
        <activity android:name=".Customer.CustomerCheckoutCreditCard" />
        <activity android:name=".Customer.CustomerCheckoutPayPal" />
        <activity android:name=".Customer.CustomerCheckout" />
        <activity android:name=".Admin.AdminViewCustomerDetails" />
        <activity android:name=".Admin.AdminProductViewPage" />
        <activity android:name=".Customer.CustomerCreateAccount" />
        <activity android:name=".Customer.CustomerProductDetails" />
        <activity android:name=".ProductCatalogue" />
        <activity android:name=".Customer.CustomerProductViewPage" />
        <activity android:name=".Customer.CustomerHomePage" />
        <activity android:name=".Admin.AdminHome" />
        <activity android:name=".Authetication.UserRegister" />
        <activity android:name=".Authetication.UserLogin" />
        <activity android:name=".Customer.CustomerShoppingCart" />
        <activity android:name=".Admin.AdminAddItemToDatabase" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>